<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ's on Demand</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="tabs">
            <button class="tablinks" onclick="openTab(event, 'PackagesManagement')" id="defaultOpen">Packages Management</button>
            <button class="tablinks" onclick="openTab(event, 'ClientManagement')">Client Management</button>
            <button class="tablinks" onclick="openTab(event, 'EventManagement')">Event Management</button>
            <button class="tablinks" onclick="openTab(event, 'BookingManagement')">Theme Management</button>
            <button class="tablinks" onclick="openTab(event, 'CDManagement')">CD Management</button>
        </div>

        <!-- Packages Management Tab -->
        <div id="PackagesManagement" class="tabcontent">
            <h3>Packages Management</h3>
            <button onclick="openModal('addPackagesModal')">Add Packages</button>
            <button onclick="openModal('updatePackagesModal')">Update Packages Information</button>
            <button onclick="openModal('deletePackagesModal')">Delete Packages</button>
            <button onclick="openModal('viewPackagesModal')">View Packages Profile</button>
        </div>

        <!-- Client Management Tab -->
        <div id="ClientManagement" class="tabcontent">
            <h3>Client Management</h3>
            <button onclick="openModal('addClientModal')">Add Client</button>
            <button onclick="openModal('updateClientModal')">Update Client Information</button>
            <button onclick="openModal('deleteClientModal')">Delete Client</button>
            <button onclick="openModal('viewClientModal')">View Client Profile</button>
        </div>

        <!-- Event Management Tab -->
        <div id="EventManagement" class="tabcontent">
            <h3>Event Management</h3>
            <button onclick="openModal('createEventModal')">Create Event</button>
            <button onclick="openModal('updateEventModal')">Update Event</button>
            <button onclick="openModal('cancelEventModal')">Cancel Event</button>
            <button onclick="openModal('viewEventModal')">View Event Details</button>
        </div>

        <!-- Booking Management Tab -->
        <div id="BookingManagement" class="tabcontent">
            <h3>Booking Management</h3>
            <button onclick="openModal('newBookingModal')">New Theme</button>
            <button onclick="openModal('updateBookingModal')">Update Theme</button>
            <button onclick="openModal('cancelBookingModal')">Delete Theme</button>
            <button onclick="openModal('viewBookingModal')">View Theme Details</button>
        </div>

        <!-- CD Management Tab -->
        <div id="CDManagement" class="tabcontent">
            <h3>CD Management</h3>
            <button onclick="openModal('addCDModal')">Add CD</button>
            <button onclick="openModal('updateCDModal')">Update CD</button>
            <button onclick="openModal('deleteCDModal')">Delete CD</button>
            <button onclick="openModal('viewCDModal')">View CD History</button>
        </div>
    </div>

    <!-- Modals for Packages Management -->
    <div id="addPackagesModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addPackagesModal')">&times;</span>
            <h2>Add Packages</h2>
            <form action="/add_Packages" method="POST">
                <label for="PackagesName">Code:</label>
                <input type="number" id="PackagesName" name="PackagesName"><br>
                <label for="Low_Range">Low_Range:</label>
                <input type="number" id="Low_Range" name="Low_Range"><br>
                <label for="High_Range">High_Range:</label>
                <input type="number" id="High_Range" name="High_Range"><br>
                <button type="submit">Add Packages</button>
            </form>
        </div>
    </div>

    <div id="updatePackagesModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('updatePackagesModal')">&times;</span>
            <h2>Update Packages Information</h2>
            <form action="/update_Packages" method="POST">
                <label for="PackagesName">Code:</label>
                <input type="number" id="PackagesName" name="PackagesName"><br>
                <label for="Low_Range">Low_Range:</label>
                <input type="number" id="Low_Range" name="Low_Range"><br>
                <label for="High_Range">High_Range:</label>
                <input type="number" id="High_Range" name="High_Range"><br>
                <button type="submit">Update Packages</button>
            </form>
        </div>
    </div>

    <div id="deletePackagesModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('deletePackagesModal')">&times;</span>
            <h2>Delete Packages</h2>
            <form action="/delete_Packages" method="POST">
                <label for="PackagesName">Code:</label>
                <input type="number" id="PackagesName" name="PackagesName"><br>
                <button type="submit">Delete Packages</button>
            </form>
        </div>
    </div>

    <div id="viewPackagesModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('viewPackagesModal')">&times;</span>
            <h2>View Packages Profile</h2>
            <form action="/view_Packages" method="POST">
                <label for="PackagesName">Code:</label>
                <input type="number" id="PackagesName" name="PackagesName"><br>
                <button type="submit">View Packages</button>
            </form>
        </div>
    </div>

    <!-- Modals for Client Management -->
    <div id="addClientModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addClientModal')">&times;</span>
            <h2>Add Client</h2>
            <form action="/add_client" method="POST">
                <label for="clientId">Client ID:</label>
                <input type="text" id="clientId" name="clientId"><br>
                <label for="clientName">Name:</label>
                <input type="text" id="clientName" name="clientName"><br>
                <label for="clientEmail">Email:</label>
                <input type="email" id="clientEmail" name="clientEmail"><br>
                <label for="clientPhone">Phone:</label>
                <input type="text" id="clientPhone" name="clientPhone"><br>
                <button type="submit">Add Client</button>
            </form>
        </div>
    </div>

    <div id="updateClientModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('updateClientModal')">&times;</span>
            <h2>Update Client Information</h2>
            <form action="/update_client" method="POST">
                <label for="clientId">Client ID:</label>
                <input type="text" id="clientId" name="clientId"><br>
                <label for="clientName">Name:</label>
                <input type="text" id="clientName" name="clientName"><br>
                <label for="clientEmail">Email:</label>
                <input type="email" id="clientEmail" name="clientEmail"><br>
                <label for="clientPhone">Phone:</label>
                <input type="text" id="clientPhone" name="clientPhone"><br>
                <button type="submit">Update Client</button>
            </form>
        </div>
    </div>

    <div id="deleteClientModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('deleteClientModal')">&times;</span>
            <h2>Delete Client</h2>
            <form action="/delete_client" method="POST">
                <label for="clientId">Client ID:</label>
                <input type="text" id="clientId" name="clientId"><br>
                <button type="submit">Delete Client</button>
            </form>
        </div>
    </div>

    <div id="viewClientModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('viewClientModal')">&times;</span>
            <h2>View Client Profile</h2>
            <form action="/view_client" method="POST">
                <label for="clientId">Client ID:</label>
                <input type="text" id="clientId" name="clientId"><br>
                <button type="submit">View Client</button>
            </form>
        </div>
    </div>

    <!-- Modals for Event Management -->
    <div id="createEventModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('createEventModal')">&times;</span>
            <h2>Create Event</h2>
            <form action="/create_event" method="POST">
                <label for="eventId">Event Id:</label>
                <input type="text" id="eventId" name="eventId"><br>
                <label for="eventName">Event Name:</label>
                <input type="text" id="eventName" name="eventName"><br>
                <label for="eventDate">Event Date:</label>
                <input type="date" id="eventDate" name="eventDate"><br>
                <label for="eventLocation">Event Desc:</label>
                <input type="text" id="eventLocation" name="eventLocation"><br>
                <label for="assignedDj">Cost:</label>
                <input type="text" id="assignedDj" name="assignedPackages"><br>
                <label for="eventVenue">Event Venue:</label>
                <input type="date" id="eventVenue" name="eventVenue"><br>
                <label for="PACKAGE_CODE">PACKAGE CODE:</label>
                <input type="text" id="PACKAGE_CODE" name="PACKAGE_CODE"><br>
                <label for="THEME_CODE">THEME CODE:</label>
                <input type="text" id="THEME_CODE" name="THEME_CODE"><br>
                <label for="CLIENT_NUMBER">CLIENT NUMBER:</label>
                <input type="text" id="CLIENT_NUMBER" name="CLIENT_NUMBER"><br>
                <button type="submit">Create Event</button>
            </form>
        </div>
    </div>

    <div id="updateEventModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('updateEventModal')">&times;</span>
            <h2>Update Event</h2>
            <form action="/update_event" method="POST">
                <label for="eventId">Event Id:</label>
                <input type="text" id="eventId" name="eventId"><br>
                <label for="eventName">Event Name:</label>
                <input type="text" id="eventName" name="eventName"><br>
                <label for="eventDate">Event Date:</label>
                <input type="date" id="eventDate" name="eventDate"><br>
                <label for="eventLocation">Event Desc:</label>
                <input type="text" id="eventLocation" name="eventLocation"><br>
                <label for="assignedDj">Cost:</label>
                <input type="text" id="assignedDj" name="assignedPackages"><br>
                <label for="eventVenue">Event Venue:</label>
                <input type="date" id="eventVenue" name="eventVenue"><br>
                <label for="PACKAGE_CODE">PACKAGE CODE:</label>
                <input type="text" id="PACKAGE_CODE" name="PACKAGE_CODE"><br>
                <label for="THEME_CODE">THEME CODE:</label>
                <input type="text" id="THEME_CODE" name="THEME_CODE"><br>
                <label for="CLIENT_NUMBER">CLIENT NUMBER:</label>
                <input type="text" id="CLIENT_NUMBER" name="CLIENT_NUMBER"><br>
                <button type="submit">Update Event</button>
            </form>
        </div>
    </div>

    <div id="cancelEventModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('cancelEventModal')">&times;</span>
            <h2>Cancel Event</h2>
            <form action="/cancel_event" method="POST">
                <label for="eventId">Event ID:</label>
                <input type="text" id="eventId" name="eventId"><br>
                <button type="submit">Cancel Event</button>
            </form>
        </div>
    </div>

    <div id="viewEventModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('viewEventModal')">&times;</span>
            <h2>View Event Details</h2>
            <form action="/view_event" method="POST">
                <label for="eventId">Event ID:</label>
                <input type="text" id="eventId" name="eventId"><br>
                <button type="submit">View Event</button>
            </form>
        </div>
    </div>

    <!-- Modals for Booking Management -->
    <div id="newBookingModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('newBookingModal')">&times;</span>
            <h2>New Theme</h2>
            <form action="/new_booking" method="POST">
                <label for="bookingId">Theme ID:</label>
                <input type="text" id="bookingId" name="bookingId"><br>
                <label for="bookingClient">Theme Desc:</label>
                <input type="text" id="bookingClient" name="bookingClient"><br>
                <button type="submit">Create Theme</button>
            </form>
        </div>
    </div>

    <div id="updateBookingModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('updateBookingModal')">&times;</span>
            <h2>Update Theme</h2>
            <form action="/update_booking" method="POST">
                <label for="bookingId">Theme ID:</label>
                <input type="text" id="bookingId" name="bookingId"><br>
                <label for="bookingClient">Theme Desc:</label>
                <input type="text" id="bookingClient" name="bookingClient"><br>
                <button type="submit">Update Theme</button>
            </form>
        </div>
    </div>

    <div id="cancelBookingModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('cancelBookingModal')">&times;</span>
            <h2>Delete Theme</h2>
            <form action="/cancel_booking" method="POST">
                <label for="bookingId">Theme ID:</label>
                <input type="text" id="bookingId" name="bookingId"><br>
                <button type="submit">Cancel Theme</button>
            </form>
        </div>
    </div>

    <div id="viewBookingModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('viewBookingModal')">&times;</span>
            <h2>View Theme Details</h2>
            <form action="/view_booking" method="POST">
                <label for="bookingId">Theme ID:</label>
                <input type="text" id="bookingId" name="bookingId"><br>
                <button type="submit">View Theme</button>
            </form>
        </div>
    </div>

    <!-- Modals for CD Management -->
    <div id="addCDModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addCDModal')">&times;</span>
            <h2>Add CD</h2>
            <form action="/add_CD" method="POST">
                <label for="CDId">CD ID:</label>
                <input type="text" id="CDId" name="CDId"><br>
                <label for="CDClient">Title:</label>
                <input type="text" id="CDClient" name="CDClient"><br>
                <label for="CDAmount">Year:</label>
                <input type="number" id="CDAmount" name="CDAmount"><br>
                <button type="submit">Add CD</button>
            </form>
        </div>
    </div>
        <div id="updateCDModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('updateCDModal')">&times;</span>
                <h2>Update CD</h2>
                <form action="/update_CD" method="POST">
                    <label for="CDId">CD ID:</label>
                    <input type="text" id="CDId" name="CDId"><br>
                    <label for="CDClient">Title:</label>
                    <input type="text" id="CDClient" name="CDClient"><br>
                    <label for="CDAmount">Year:</label>
                    <input type="number" id="CDAmount" name="CDAmount"><br>
                    <button type="submit">Update CD</button>
                </form>
            </div>
        </div>

    <div id="deleteCDModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('deleteCDModal')">&times;</span>
            <h2>Delete CD</h2>
            <form action="/delete_CD" method="POST">
                <label for="CDId">CD ID:</label>
                <input type="text" id="CDId" name="CDId"><br>
                <button type="submit">Delete CD</button>
            </form>
        </div>
    </div>

    <div id="viewCDModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('viewCDModal')">&times;</span>
            <h2>View CD History</h2>
            <form action="/view_CD" method="POST">
                <label for="clientId">CD ID:</label>
                <input type="text" id="clientId" name="clientId"><br>
                <button type="submit">View CD History</button>
            </form>
        </div>
    </div>


    <script src="static/script.js"></script>
</body>
</html>
