<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Info</title>
    <link rel="stylesheet" href="global.css">
</head>
<body>
    <div class="container">
        <h1>Event Information</h1>
        <p><strong>Event Id:</strong> {{ data.id }}</p>
        <p><strong>Name:</strong> {{ data.name }}</p>
        <p><strong>Date:</strong> {{ data.date }}</p>
        <p><strong>Desc:</strong> {{ data.desc }}</p>
        <p><strong>Cost:</strong> {{ data.cost }}</p>
        <p><strong>Venue:</strong> {{ data.venue }}</p>
        <p><strong>Package code:</strong> {{ data.pack }}</p>
        <p><strong>Theme Coded:</strong> {{ data.theme }}</p>
        <p><strong>Client Number:</strong> {{ data.client }}</p>
    </div>
</body>
</html>
